@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&family=Rubik:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-purple: #9267f4;
  --brand-dark-purple: #6443af;
  --brand-light-purple: #dabff9;
  --brand-bg-purple: #fbf3fe;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}
